body {
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#colorFace:hover{
    background: #3b5998;
}
#colorInst:hover{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJSdBLVsBii4mIG5c_E8sSqc0TnkLlFquwaQ&usqp=CAU);
}
#colorWhat:hover{
    background: #00bb2d;
    
}
.card-title {
    text-align:center;
}
.col{
    margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
.image1{

    height: 100%;
    margin:auto;
    display:block;


}
.card-text{
    text-align: center;
}

.card-footer a{
    height: 100%;
    margin:auto;
    display:block;
}
.nav-link1{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-link1-active{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
   
}
.nav-item{
    margin-right: 10px;
}
.nav-link1-active:hover{
    color:white;
    background-color:#5470ec;
    border-radius: 4px;
}
.nav-link1:hover{
    color:white;
    background-color:#5470ec;
    border-radius: 4px;
}
.header{
    position: fixed;
}